body {
    background-color: ghostwhite;
}

nav img{
    margin-right: 10px;
    width: 40px;
    height: 40px;
}
nav img:hover{cursor: pointer;}
.connect:hover{cursor: pointer;color: blue;transition: 1s;font-weight: 2px;}
nav {
    padding-left: 20px;
    background-color: #e3f2fd;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 4px 4px 0 #e7e7e7;
}
.tablebox{
    margin: 15px;
    background:lightcyan;
    padding: 25px;
    border: 1px solid #e7e7e7;
    box-shadow: 0 4px 8px darkgrey;
    align-items: center;
}
.Sections {
    margin: 15px;
    background: #fff;
    padding: 25px;
    border: 1px solid #e7e7e7;
    box-shadow: 0 4px 8px darkgrey;
    align-items: center;
}
.FlexBoard-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
}
.FlexBoard-2 img:hover{
    cursor: pointer;
}
.FlexBoard-1{
    width: 100%;
    justify-content: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}
.sec {
    align-items: center;
    margin: 15px;
    padding: 25px;
}
.id img:hover{width: 201px;height: 201px;transition: 1s;}
#l{text-decoration: none;color:black}
#l:hover{font-size: 101%;color: cornflowerblue;}
